:root {
  /* PORTFOLIO COLORS */
  --raisin-black: rgb(46, 40, 42);
  --blue-green: rgb(23, 190, 187);
  --vermillion: rgb(205, 83, 52);
  --macaroni-cheese: rgb(237, 184, 139);
  --pale-pink: rgb(250, 216, 214);
  --seashell: rgb(255, 245, 238);

  --raisin-black-rgb-values: 46, 40, 42;
  --blue-green-rgb-values: 23, 190, 187;
  --vermillion-rgb-values: 205, 83, 52;
  --macaroni-cheese-rgb-values: 237, 184, 139;
  --pale-pink-rgb-values: 250, 216, 214;
  --seashell-rgb-values: 255, 245, 238;

  --typewriterSpeed: 2.5s;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--raisin-black);
  font-family: "Philosopher", sans-serif;
  /* letter-spacing: 1px; */
}
img {
  display: block;
  width: 100%;
  height: 100%;
}

/* === General Styles === */
h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-shadow: 2.5px 2.5px 1px rgba(0, 0, 0, 0.95);
  color: var(--seashell);
}
.bold {
  font-weight: 700;
}
.blue-green {
  color: var(--blue-green);
}
.vermillion {
  color: var(--vermillion);
}
.pale-pink {
  color: var(--pale-pink);
}
.raisin-black {
  color: var(--raisan-black);
}
.macaroni-cheese {
  color: var(--macaroni-cheese);
}
.seashell {
  color: var(--seashell);
}
.button {
  box-shadow: 0px 25px 14px -7px #00000069;
  background: -webkit-linear-gradient(
    top,
    var(--blue-green) 5%,
    var(--vermillion) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--blue-green) 5%,
    var(--vermillion) 100%
  );
  background-color: var(--blue-green);
  text-shadow: 1px 1px 1px var(--raisin-black);
  display: inline-block;
  cursor: pointer;
  color: var(--seashell);
  font-size: 0.95rem;
  font-weight: bold;
  padding: 9px 7px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background: -webkit-linear-gradient(
    top,
    var(--macaroni-cheese) 5%,
    var(--pale-pink) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--macaroni-cheese) 5%,
    var(--pale-pink) 100%
  );
  background-color: var(--pale-pink);
  color: var(--raisin-black);
  text-shadow: 1px 1px 1px var(--seashell);
  border-radius: 8px;
}
/* scrollbar */
/* ::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: rgb(23, 190, 187);
  background: linear-gradient(
    0deg,
    rgba(23, 190, 187, 1) 0%,
    rgba(205, 83, 52, 1) 100%
  );
}
::-webkit-scrollbar-thumb {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh var(--seashell);
} */
/* Screen Readers Only class */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/* == hello animation == */
div.top-container {
  margin-top: 1rem;
  background-color: var(--vermillion);
}
.top-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
}
h1.hideHello {
  opacity: 0;
  visibility: hidden;
}
h1.greeting {
  opacity: 1;
  visibility: visible;
  color: var(--seashell);
  position: relative;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1.greeting::before,
h1.greeting::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
}
h1.greeting::before {
  background-color: var(--vermillion);
  -webkit-animation: typewriter var(--typewriterSpeed) steps(15) 1.5s forwards;
  animation: typewriter var(--typewriterSpeed) steps(15) 1.5s forwards;
}
h1.greeting::after {
  width: 0.4rem;
  background: var(--seashell);
  -webkit-animation: typewriter var(--typewriterSpeed) steps(15) 1.5s forwards,
    blinkTypewriter 650ms steps(8) infinite;
  animation: typewriter var(--typewriterSpeed) steps(15) 1.5s forwards,
    blinkTypewriter 650ms steps(8) infinite;
}
@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blinkTypewriter {
  to {
    background: transparent;
  }
}
@keyframes blinkTypewriter {
  to {
    background: transparent;
  }
}

/* === Navigation Bar === */
nav {
  padding: 1.25rem 1rem 0.7rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.8s ease-out, padding 0.4s ease-out;
  transition: background-color 0.8s ease-out, padding 0.4s ease-out;
}
.nav-menu {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.nav-link {
  position: relative;
  margin: 0 0.625rem;
  padding: 0.625rem;
  color: var(--seashell);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 2.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/* hover effect on nav links*/
a.nav-link:before,
a.nav-link:after {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  content: "";
  background: rgba(var(--vermillion-rgb-values), 0.5);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
a.nav-link:before {
  top: 0px;
}
a.nav-link:after {
  bottom: 0px;
}
a.nav-link:hover:before,
a.nav-link:hover:after {
  height: 100%;
}
.scroll {
  background: rgba(var(--raisin-black-rgb-values), 0.8);
  padding: 0.7rem 0.7rem 0.5rem;
}
@supports (
  (-webkit-backdrop-filter: blur(0.5rem)) or (backdrop-filter: blur(0.5rem))
) {
  .scroll {
    background: rgba(var(--raisin-black-rgb-values), 0.6);
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
  }
}
.mobile-nav-toggle {
  display: none;
}
@media (max-width: 38em) {
  nav {
    position: fixed;
    inset: 0 0 0 30%;
    background: rgba(var(--raisin-black-rgb-values), 0.95);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 350ms ease-out;
    transition: -webkit-transform 350ms ease-out;
    transition: transform 350ms ease-out;
    transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
  }
  nav[data-visible="true"] {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: min(30vh, 10rem) 0.5em;
    gap: 2em;
  }
  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 999;
    background-color: transparent;
    background-image: url("./icons/hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    border: none;
    right: 2rem;
    top: 2rem;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("./icons/hamb-close.svg");
  }
}
/********* end navbar *********/

/* === Projects Section === */
section#work.projects-section {
  background-color: var(--raisin-black);
}
.proj-title {
  color: var(--blue-green);
  margin-top: 4rem;
}
.projects-section {
  padding: 0.5rem;
}
.proj-grid {
  --padding: 1rem;
  --gap: 3rem;
  --num-cols: 1;
  --row-height: 350px;
  padding: 2rem var(--padding) 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [var];
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
/* Media Queries for the Grid Layout */
@media screen and (min-width: 488px) {
  .proj-grid {
    --padding: 2rem;
    --row-height: 350px;
  }
}
@media screen and (min-width: 588px) {
  .proj-grid {
    --padding: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .proj-grid {
    --num-cols: 2;
    --padding: 2rem;
  }
}
@media screen and (min-width: 920px) {
  .proj-grid {
    --gap: 4rem;
    --padding: 4rem;
  }
}
@media screen and (min-width: 1080px) {
  .proj-grid {
    --padding: 6rem;
    --row-height: 350px;
  }
}
@media screen and (min-width: 1385px) {
  .proj-grid {
    --num-cols: 3;
    --padding: 7rem;
  }
}
.image-grid-col-2 {
  -ms-grid-column: span 2;
  grid-column: span 2;
}
.image-grid-row-2 {
  -ms-grid-row: span 2;
  grid-row: span 2;
}

/*hover title effect on project grid*/
.proj-item {
  position: relative;
  cursor: pointer;
}
.proj-item:active {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}
.proj-item img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--blue-green-rgb-values), 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  border-radius: 20px;
}
.image__overlay {
  opacity: 0;
}
.image__overlay:hover {
  opacity: 1;
}
/* === project modals === */
.modal {
  top: 0;
  bottom: 0;
  left: 2%;
  overflow-y: auto;
  border-radius: 8px;
  width: 95%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: var(--raisin-black);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
/* Background Images of modals */
.syfyAngular-bg {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/assets/img/proj-imgs/syfyAngularSS.PNG");
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/assets/img/proj-imgs/syfyAngularSS.PNG");
}
.syfyReact-bg {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/proj-imgs/syfyReactSS.PNG");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/proj-imgs/syfyReactSS.PNG");
}
.meet-bg {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/proj-imgs/meetSS.PNG");
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/proj-imgs/meetSS.PNG");
}
.chatApp-bg {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/proj-imgs/yamalotbg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/proj-imgs/yamalotbg.png");
}
.pokedex-bg {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/proj-imgs/PokedexSS.PNG");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/proj-imgs/PokedexSS.PNG");
}
/* background image of contact form */
.contact-bg {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/pine-watt-3_Xwxya43hE-unsplash.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/pine-watt-3_Xwxya43hE-unsplash.jpg");
}
/* properties of background images */
.modal-bg-properties {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* modal layout */
.modal-header {
  padding: 2rem;
}
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.modal-content img {
  max-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.modal-content img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.videoWrapper {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
  width: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-title {
  color: var(--pale-pink);
  font-size: 2rem;
  padding: 0.2rem 0.2rem 2.5rem;
}
.modal-body {
  margin: 0;
  color: var(--seashell);
  font-size: 1rem;
  padding: 2.5rem 1rem 0;
  line-height: 125%;
}
.modal-body p {
  margin: 0.2rem 0.2rem 1rem;
}
.modal-body h1 {
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
}
.featureList li {
  margin-bottom: 0.2rem;
  list-style: none;
  text-align: left;
}
.modal-body a.button {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.close-btn {
  background-color: transparent;
  color: var(--macaroni-cheese);
  border: none;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
button.close-btn:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: var(--vermillion);
}
/* == blue-green background when clicking modal ==*/
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--blue-green-rgb-values), 0.5);
}
#overlay.active {
  display: block;
}
/* End Projects Section & Contact Form BG Image */

/* == Portfolio Section == */
.portfolio-section {
  padding: 1rem;
}
/* == About section == */
p.about-page_introduction {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 25px;
  color: var(--seashell);
  padding: 0.5rem 0.5rem;
}
.about-page {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(var(--vermillion-rgb-values), 0.2);
}
.about-title {
  margin-bottom: 0.5rem;
  color: var(--blue-green);
}

/* == Contact Section == */
.contact-section {
  background-color: rgba(var(--blue-green-rgb-values), 0.2);
  color: var(--seashell);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0;
}
.contact-title {
  color: var(--macaroni-cheese);
  margin: 0;
}
.page-contact_info {
  padding-top: 1rem;
}
.page-contact_info a {
  color: var(--pale-pink);
  text-decoration: none;
}
.contactForm-title {
  background-color: rgba(var(--pale-pink-rgb-values), 0.15);
  padding-bottom: 1.34rem;
  padding-top: 1.34rem;
  margin: 0;
}
/* == Contact Form == */
.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 1.34rem;
  padding-top: 0;
  background-color: rgba(var(--pale-pink-rgb-values), 0.15);
}
.inputTitle {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  color: var(--seashell);
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid rgba(var(--vermillion-rgb-values), 0.5);
  letter-spacing: 1px;
}
.input {
  box-sizing: border-box;
  border: 1px solid rgba(var(--vermillion-rgb-values), 0.5);
  outline: none;
  background-color: rgba(var(--seashell-rgb-values), 0.25);
  color: whitesmoke;
  border-radius: 4px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.input:focus {
  border: 1px solid var(--blue-green);
}
.textArea {
  border: 1px solid rgba(var(--vermillion-rgb-values), 0.6);
  background-color: rgba(var(--pale-pink-rgb-values), 0.25);
  color: whitesmoke;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.textArea:focus {
  outline: none;
  border-color: var(--macaroni-cheese);
}
::-webkit-input-placeholder {
  color: whitesmoke;
  font-weight: 600;
  opacity: 1;
  font-size: 1rem;
}
::-moz-placeholder {
  color: whitesmoke;
  font-weight: 600;
  opacity: 1;
  font-size: 1rem;
}
:-ms-input-placeholder {
  color: whitesmoke;
  font-weight: 600;
  opacity: 1;
  font-size: 1rem;
}
::placeholder {
  color: whitesmoke;
  font-weight: 600;
  opacity: 1;
  font-size: 1rem;
}
form button {
  border: none;
  margin: 20px auto 0;
  width: 150px;
  border-radius: 30px;
}
.contact-button {
  border: 1px solid rgba(var(--vermillion-rgb-values), 0.6);
  box-shadow: 0px 25px 14px -7px #00000069;
  background-color: rgba(var(--seashell-rgb-values), 0.3);
  text-shadow: 1px 1px 1px var(--raisin-black);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: whitesmoke;
  font-size: 0.95rem;
  font-weight: bold;
  padding: 9px 7px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
  letter-spacing: 1px;
}
.contact-button:hover,
.contact-button:focus {
  background-color: rgba(var(--seashell-rgb-values), 0.75);
  color: var(--raisin-black);
  text-shadow: 1px 1px 1px var(--seashell);
  border-radius: 8px;
}
@supports (
  (-webkit-backdrop-filter: blur(0.5rem)) or (backdrop-filter: blur(0.5rem))
) {
  .input {
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
  }
  .textArea {
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
  }
  .contact-button {
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
  }
  .contact-button:hover,
  .contact-button:focus {
    -webkit-backdrop-filter: blur(0.6rem);
    backdrop-filter: blur(0.6rem);
  }
}
/* == End Contact Form == */

/* == Footer == */
.footer-section {
  text-align: center;
  color: var(--blue-green);
}
/* == Media Queries == */
@media screen and (min-width: 524px) {
  .portfolio-section {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .videoWrapper {
    padding-bottom: 46.25%;
  }
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: -50%;
  }
  .modal-header {
    padding: 2rem;
  }
  .close-btn {
    font-size: 3.5rem;
  }
  .modal-content img {
    padding: 0 1rem;
  }
  .modal-body {
    font-size: 1.1rem;
    padding: 1rem 4rem 0.25rem;
  }
  .modal-title {
    font-size: 2.5rem;
    padding: 0.5rem 0.5rem 2rem;
  }
  .portfolio-section {
    width: 65%;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    width: 75%;
  }
  .modal-body p {
    margin: 0.2rem 0.2rem 1.5rem;
  }
  .modal-content img {
    width: 75%;
    margin: 0 auto;
  }
  .portfolio-section {
    width: 55%;
  }
  .button {
    font-size: 1rem;
    padding: 10px 8px;
  }
  .contact-button {
    font-size: 1rem;
    padding: 10px 8px;
  }
}
@media screen and (min-width: 1280px) {
  .videoWrapper {
    padding-bottom: 36.25%;
  }
  .modal-content img {
    padding: 0 2rem;
  }
  p.about-page_introduction {
    padding: 1rem 20rem;
  }
  .portfolio-section {
    width: 50%;
  }
}
@media screen and (min-width: 1450px) {
  .videoWrapper {
    padding-bottom: 36.25%;
  }
  .modal-body {
    padding: 2rem 8rem 0.5rem;
  }
  .portfolio-section {
    width: 45%;
  }
}
@media screen and (min-width: 1620px) {
  .videoWrapper {
    padding-bottom: 34.25%;
  }
  .portfolio-section {
    width: 40%;
  }
}
/* logos */
.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.logo-link {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin: 0.5rem 1rem 0.5rem 0;
}
.logo-icon {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  padding: 0.5rem;
}
.logo-icon:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* === Case Study === */
.case-body {
  color: var(--seashell);
  font-size: 1.1rem;
}
.case-body h2 {
  color: var(--blue-green);
}

.syfy-style {
  background: rgba(var(--blue-green-rgb-values), 0.4);
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
}

.case-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.5em;
  background: var(--raisin-black);
  box-shadow: 5px 1px 8px rgba(var(--vermillion-rgb-values), 0.4);
  text-align: left;
  z-index: 1;
}

.back-link {
  text-decoration: none;
  color: var(--blue-green);
  font-size: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.back-link:hover {
  color: var(--vermillion);
}

.case-study {
  padding: 2rem;
  text-align: left;
}

.case-study h1 {
  color: var(--pale-pink);
  padding: 1.2em;
  line-height: 1.2em;
  text-align: center;
}

.intro-img,
.server-img,
.client-img {
  margin: auto 0;
}

.intro-img img {
  margin-top: 1rem;
}

.server-side {
  margin-top: 1.5em;
}

.server-img img,
.client-img img,
.intro-img img {
  min-width: 75%;
  margin-bottom: 1rem;
}

/* Large tablets and laptops */
@media screen and (min-width: 992px) {
  .approach-title {
    margin-top: 1rem;
  }
  .server-content {
    margin-left: 2rem;
  }
  .server-img {
    margin-right: 1rem;
  }
  .client-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .client-img img,
  .server-img img,
  .intro-img img {
    max-width: 95%;
  }
  .challenges {
    padding: 1rem 5rem;
    margin-top: 1.5em;
  }
  .client-content {
    padding: 0 6rem 0;
  }
}

@media screen and (min-width: 1580px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro-content {
    padding-right: 5rem;
  }
  .server-content {
    margin-left: 0.2rem;
    padding-right: 5rem;
  }
  .server-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
